@import "normalize-3.0.2.less";
@import "fontawesome/font-awesome.less";
* {
	box-sizing: border-box
}

a {
	color: #000;
	text-decoration: none;
}

body {
	margin: 5px;
}

ul {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0;
	li {
		list-style: none;
		padding: 8px;
		border-top: 1px solid black;
		&:first-child {
			border-top: none;
		}
	}
}

table {
	width: 100%;
	border: 1px solid black;
	tbody {
		tr:nth-child(odd) {
			background-color: #DDD;
		}

		tr.category {
			background-color: lightskyblue;
			text-align : center;
		}

		td.numbers , td.complete {
			text-align: center;
		}
	}
}

form {
	fieldset {
		border: 1px solid black;
	}

	div {
		display: flex;
	}

	label {
		display: inline-block;
		width: 15%;
	}

	input[type=text] , input[type=number] {
		width: 85%;
	}
}

