@import "normalize-3.0.2.less";
@import "fontawesome/font-awesome.less";
* {
	box-sizing: border-box
}

a {
	color: #000;
	text-decoration: none;
}

body {
	margin: 5px;
}

ul {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0;
	li {
		list-style: none;
		padding: 8px;
		border-top: 1px solid black;
		&:first-child {
			border-top: none;
		}
	}
}

table {
	width: 100%;
	td , th {
		padding: 2px;
		@media (max-width: 500px) {
			&.author , &.editor , &.region {
				display: none;
			}
		}
	}

	th {
		@media (max-width: 500px) {
			&.plateform , &.complete , &.qty {
				max-width: 32px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	tbody {
		tr:nth-child(odd) {
			background-color: #DDD;
		}

		tr.category {
			background-color: lightskyblue;
			text-align: center;
		}

		td.numbers , td.complete , td.plateform , td.year , td.qty {
			text-align: center;
		}

		td.complete {
			.fa-check {
				color: green;
			}
			.fa-times {
				color: red;
			}
		}
	}
}

form {
	fieldset {
		border: 1px solid black;
		margin: 0;
		border-radius: 5px;
	}

	div {
		display: flex;
	}

	label {
		display: inline-block;
		width: 15%;
		@media (max-width: 500px) {
			width: 30%;
		}
	}

	input[type=text] , input[type=number] {
		width: 85%;
		@media (max-width: 500px) {
			width: 70%;
		}
	}
}

